{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if current_user.is_authenticated %}
<div class="row">
    <div class="col-md-12">
        <div class="titlepage">
            <h2>{{ _('Hi, ') }}
                <span class="blodark">{{ current_user.username }}</span>!</h2>
{% else %}
            <h2>{{ _('Message from users:') }}</h2>
        </div>
    </div>
</div>
{% endif %}

{% if form %}
<form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            {{ wtf.form_field(form.post) }}
            {{ wtf.form_field(form.submit, class='send_btn') }}
        </form>
<br>
{% endif %}

{% for post in posts %}
{% include '_post.html' %}
{% endfor %}

{% include '_pagination.html' %}
{% endblock %}