{% extends "base.html" %}

{% block content %}
<table>
    {% for user in users %}
    {% if user != current_user %}
    <tr valign="top" border="1">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
            {% if not current_user.is_following(user) %}
            <p>
            <form action="{{ url_for('follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow') }}
            </form>
            </p>
            {% else %}
            <p>
            <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow') }}
            </form>
            </p>
            {% endif %}
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<hr>

{% endblock %}